.shadow{
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 0 0 red,4px 0 0 rgb(0, 119, 255),6px 0 0 rgb(176, 44, 167);
    letter-spacing: 2px;
    text-transform: capitalize;

}

.normal{
    text-align: center;
}
.upper-case{
    text-transform: uppercase;
    text-align: center;
}

.capetal-first{
    text-transform:capitalize;
    text-align: center;
}

.text , .short-text , .long-text{
    padding: 20px;
    margin-top: 30px;
    width: 400px;
    background-color: rgb(159, 159, 156);
}

.long-text{
overflow: hidden;
text-overflow:ellipsis;
text-wrap-mode: nowrap;
}

.link{
    text-align: center;
    padding:  10px 30px;
    background-color: rgb(21, 114, 114);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-bottom: 6px solid rgb(4, 78, 71);


}
.link a{
    color: aliceblue;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 4px rgb(4, 78, 71);
}