body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 70px;
    height: 70px;
    border:solid 10px rgb(193, 7, 63);
    border-color:  transparent rgb(193, 7, 63) rgb(193, 7, 63) rgb(193, 7, 63);
    border-radius: 50%;
    position:relative;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

div:hover {
  animation-play-state: paused;
}


div::before{
    content:"";
    width: 100px;
    height:100px;
    position: absolute;
    border: 10px solid  rgb(43, 134, 226) ;
    border-color: rgb(43, 134, 226)  transparent  rgb(43, 134, 226)   rgb(43, 134, 226)  ;
    border-radius: 50%;
    left:-25px;
    top:-25px;
}

div::after{
    content:"";
    width: 130px;
    height:130px;
    position: absolute;
    border: 10px solid  rgb(232, 166, 1) ;
    border-color: rgb(232, 166, 1)  rgb(232, 166, 1) transparent   rgb(232, 166, 1)  ;
    border-radius: 50%;
    left:-40px;
    top:-40px;
}

@keyframes spin{
    
    to{
        transform: rotate(360deg);
    }
}