.assign-4-shape-1{
    width: 400px;
    height: 400px;
    background-image: url("../images/image.png");
    background-size: 80% 80%;
}

.assign-4-shape-2{
     width: 400px;
    height: 400px;
    background-size: 80% 80%;
    background-image: url("../images/image.png");
   background-position: right center;
   background-repeat: repeat-y;

}

.assign-4-shape-3{
     width: 400px;
    height: 400px;
    background-size: 80% 80%;
    background-image: url("../images/image.png");
   background-position: center bottom;
   background-repeat: repeat-x;

}

.assign-4-shape-4{
    width: 400px;
    height: 400px;
    /* background-size: 80% 80%; */
    background-image: url("../images/image.png");
   background-position: right bottom;
   background-repeat: no-repeat;
}
   