.assign-1-shape-1{
    width: 500px;
    margin-left:auto ;
    margin-right: auto;
    padding: 20px;
    background-color: #8a2be2;
}

.assign-1-shape-2{
    width: 500px;
    margin-left:auto ;
    margin-right: auto;
    padding: 20px;
    background-color: rgba(138, 43, 226 ,0.5);
}

.assign-1-shape-3{
    width: 500px;
    margin-left:auto ;
    margin-right: auto;
    padding: 20px;
    background-color:  hsl(271, 10%, 53%);
}
