.assign-2-shape-1{
    width: 400px;
    height: 400px;
    background-image: url("../images/image.png");
    background-size: cover;
    background-position: center;
}


.assign-2-shape-2{
    width: 400px;
    height: 400px;
    background-image: url("../images/image.png");
    background-repeat: repeat-y;
   
}

.assign-2-shape-3{
    width: 400px;
    height: 400px;
    background-image: url("../images/image.png");
    background-repeat: repeat-x;
   
}

.assign-2-shape-4{
    width: 400px;
    height: 400px;
    background-image: url("../images/image.png");
    background-repeat:repeat;
   
}

