.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin:auto;
  display: grid;
  grid-template-rows: auto  auto;
  grid-template-columns: 1fr 1fr;
  gap:350px 10px;
 
}
.grid div{
    color:aliceblue;
    background-color: rgb(201, 0, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


