.grid{
    
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;

    display: grid;
    margin:auto;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap:10px 10px;

}

.grid div{
    background-color: rgb(60, 60, 60);
    color: aliceblue;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}