.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6,auto);
  gap:10px 10px;
  grid-template-areas: "eight eight eight " "two two three" "four five five " "six six six" "seven seven seven" "one one one";
}
.eight{
    grid-area: eight;
}
.eight ,.two,.three,.four,.five,.six,.seven ,.one{
    font-weight: bold;
    background-color: rgb(52, 134, 250);
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.six{
    grid-area: six;
    grid-column: 1/2;
}
.seven{
    grid-area: seven;
    grid-column: 1/2;
}
.five{
    grid-area: five;
    grid-row: 3/6;
}
.one{
   grid-area: one;
}