 div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  color: black;
}
.normal {
    background-color:rgba(0, 0, 0, 0.306);
}
.one {
    background-color:rgba(0, 0, 0, 0.066);
}
.two{
    background-color: rgba(0, 0, 0, 0.288);
    opacity: 0.2;
}