.container{
    display: flex;
    width:550px;
    height:100vh ;
    justify-content: center;
    align-items: center;
}


.container2{
    margin: 40px;
    position: relative;
}
.container3{
    position: relative;
}

.content{
    background-color: rgb(234, 232, 228);
    padding: 20px;
}



.text{
    background-color: rgb(65, 176, 245);
    border-radius: 3px;
    color: aliceblue;
    padding: 5px 30px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.coast{
    background-color: rgb(225, 219, 219);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
}

.container2::before{
    position: absolute;
    content:"";
    height:175px ;
    width: 1px;
    background-color:  rgb(65, 176, 245);
    left:160px;
}

.container3::before{
    content:attr(option);
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%;
    background-color:   rgb(65, 176, 245);
    color: aliceblue;
    padding:2px;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: bold;
    left:-32px;
    top:80px;



}