body{
    margin: 0;
    padding:0;
}
.parent {
width: 800px;
background-color: brown;
overflow: hidden;
}
.one-over3 .row2,
.one-over2 .row3,
.one-over4 .row4,
.full{
    background-color: #ffe4c4;
    text-align: center;
    float: left;
    padding-top: 1.875%;
    padding-bottom: 1.875%;
    margin-bottom: 1.875%;
}
.full{
    width:96.25%;
    margin-left:1.875% ;
    margin-top: 1.875%;
}
.one-over3 .row2 { width: calc(92.5% / 3); margin-left: 1.875%; }
.one-over2 .row3 { width: calc(94.375% / 2); margin-left: 1.875%; }
.one-over4 .row4 { width: calc(90.625% / 4); margin-left: 1.875%; }



