.container{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .container div{
    width:100px;
    height: 100px;
    background-color:rgb(242, 237, 237);
    border-top-left-radius:3px 10px ;
    border-bottom-right-radius: 3px 10px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;

    box-shadow:  0 0 10px 0px black inset;
}